@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic');
.kb-overlay {
	background-color: #bbb;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.kb-modal {
	width: 600px;
	max-width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 6px;
	box-shadow: 0 2px 2px rgba(0,0,0,.15);
	font-family: Roboto;
	padding: 0 20px;
	text-align: center;
	font-weight: 400;

	&__content {
		max-height: calc(90vh);
		overflow-y: auto;
		padding: 30px 10px;
	}
	&, * {
		box-sizing: border-box;
	}
	&__close {
		position: absolute;
		top:-7px;
		right: -7px;
		font-size: 14px;
		line-height:1;
		width: 24px;
		text-align: center;
		border-radius: 50%;
		padding: 5px;
		cursor: pointer;
	}
	& &__title {
		font-weight: 900;
		font-size: 18px;
		margin-bottom: 15px;
	}
	& &__subtitle  {
		font-size: 14px;
		margin-top: -5px;
	}
	& &__form {
		margin-top: 25px;

		input:not([type=radio]),
		button,
		label {
			font-size: 14px;
			line-height: 58px;
			padding: 0;
			margin: 0;
		}
		input:not([type=radio]) {
			padding: 0 10px;
			border: 0;
			width: 100%;

			& + label {
				display: none;
			}
		}
		button {
			text-align: center;
			border-radius: 1px;
			border: 0;
			width: 100%;
			cursor: pointer;
			transition: all .3s;
		}
		input[type=radio] {
			width: 0;
		    height: 0;
		    opacity: 0;
			
			& + label {
				display: inline-block;
				position: relative;
				padding-left: 30px;
				line-height: 20px;
				cursor: pointer;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					border-radius: 50%;
					transition: all .3s;
				}
				&:before {
					width: 20px;
					height: 20px;
					left:0;
				}
				&:after {
					width: 12px;
					height: 12px;
					left: 4px;
					top: 4px;
					opacity: 0;
					
				}
			}
			&:checked + label::after {
				opacity: 1;
			}
			
		}
	}
	&__gender {
		display: inline-block;
	}
	&__input-wrap {
		position: relative;

		&--error {
			.kb-modal__error {
				opacity: 1;
			}
		}
	}	
	&__error {
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 14px;
		border-radius: 4px;
		padding: 10px;
		opacity: 0;
		transition: all .5s;

		&__arrow {
			width: 50px;
			height: 25px;
			position: absolute;
			top: calc(100% - 1px);
			left: 50%;
			transform: translateX(-50%);
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				width: 14px;
				height: 14px;
				
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
				top: 0;
				left: 50%;

			}
		}
	}
	
	&__step {
		& + & {
			margin-top: 25px;
		}
	}
}
.kb {
	&-row {
		margin-left: -10px;
		margin-right: -10px;

		&:after {
		    content: "";
		    clear: both;
		    display: table;
		}
		[class^=kb-col] {
			padding-left: 10px;
			padding-right: 10px;
			float: left;
		}
	}
	&-col {
		width: 100%;

		&:not(:last-child){
			margin-bottom: 20px;
		}
	}

}

/*** Templates ***/

/* Default */
.kb-modal {
	&__form {
		button {
			color: #fff;
			background-color: #465ac4;
			box-shadow: 0 0 0 1px #465ac4;

			&:hover {
				background-color: darken(#465ac4,15%);
			}
		}
		input:not([type=radio]) {
			box-shadow: 0 0 0 1px #e9e9e9;

			&.kb-error {
				box-shadow: 0 0 0 2px #ff4b4b!important;
			}
		}
		input[type=radio] {
			& + label {
				&:after {
					background-color: #00bc6f;
				}
				&:before {
					background-color: #fff;
				}
			}
			&:hover + label:before {
				background-color: #f5f5f5;
			}
		}
		
	}
	&__error {
		color:#171717;

		&, &__arrow:before {
			background: #fff;
			box-shadow: 0px 2px 8px rgba(0,0,0,0.16);
		}
	}
}

/* Light */
.kb-modal {
	$self: &;

	&--light {
		background: #fff;
		color: #171717;

		#{ $self }__form {
			input:not([type=radio]) {
				box-shadow: 0 0 0 1px #e9e9e9;
			}
			input[type=radio] + label {
				color: #171717;
				&:before {
					box-shadow: inset 0 0 0 1px #e5e5e5;
				}

			}
		}
		#{ $self }__close {
			background-color: #fff;
		}
	}
}
/* Dark */
.kb-modal {
	$self: &;

	&--dark {
		background: #000033;
		color: #fff;

		#{ $self }__form {
			input:not([type=radio]) {
				box-shadow: 0 0 0 1px #fff;
			}
			input[type=radio] + label {
				color: #fff;
			}
		}
		#{ $self }__close {
			background-color: #000033;
		}
	}
}


/* Responsive */
@media (min-width: 481px) {
	.kb {
		&-col {
			margin-bottom: 0;

			&-md {
				width: 100%;
				&-6 {
					width: 50%;
				}

				&-offset-3 {
					margin-left: 25%;
				}
			}
		}
	}
	.kb-modal {
		padding: 0 40px;
		&__content {
			max-height: calc(90vh);
			overflow-y: auto;
			padding: 60px 20px;
		}
	}
}